@font-face {
  font-family: 'HarmonyOS Sans Regular';
  src: url('../fonts/HarmonyOS_Sans_Regular.ttf');
}

@font-face {
  font-family: 'HarmonyOS Sans Medium';
  src: url('../fonts/HarmonyOS_Sans_Medium.ttf');
}

@font-face {
  font-family: 'HarmonyOS Sans SC Regular';
  src: url('../fonts/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
  font-family: 'HarmonyOS Sans SC Medium';
  src: url('../fonts/HarmonyOS_Sans_SC_Medium.ttf');
}

* {
  font-family: 'HarmonyOS Sans Regular', 'HarmonyOS Sans SC Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HarmonyOS Sans Medium', 'HarmonyOS Sans SC Medium';
}